{% extends "base.html" %}{% load i18n %}
{% block title %}{% trans "Main screen" %}{% endblock %}
{% block standardcontent %}

<style type="text/css">
/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #333;
}

body {
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.cover-container {
  max-width: 55em;
}


/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}


/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}

</style>

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="masthead mb-auto">
  </header>

  <main role="main" class="inner cover">
    <h1 class="cover-heading text-center" id="maintxt">{% trans "Everything is ready" %}</h1>
    <p class="lead" id="lead">
      {% trans "You're seeing the main screen of HAIDI, a project of" %}
      {% trans "the Rainerum Robotics group" %} &trade;
      <br>
      {% trans "Active the robot from the control panel to start." %}<br><br>
      {% trans "Technical data:" %}<br>
      <a id="hostinfo"></a><br><br>
      <a id="network"></a>
    </p>
  </main>

  <footer class="mastfoot mt-auto">
  </footer>
</div>


<script type="text/javascript">

// adapted from StackOverflow
// Make the function wait until the connection is made...
function waitForSocketConnection(){
    setTimeout(
        function () {
            if (window.mySocket.readyState == 1) {
                console.log("Connection is made")
                window.mySocket.send('{"screen": "amI"}');
                window.mySocket.send('{"host_status": "?"}');
                window.runCron = true;
                return;
            }
            else if (window.mySocket.readyState == 3) {
              console.log("WS is not available; retry to handshake");
              setTimeout(handshake, 500);
            }
            else {
                console.log("wait for connection...")
                window.runCron = false;
                waitForSocketConnection();
            }

        }, 50); // wait 50 milisecond for the connection...
}
// end from StackOverflow part

// this is the function that parses the informations incoming from the websocket
function eventsParser(event) {
  data = JSON.parse(event.data);
  console.log(data);
  if ("host_status" in data) {
    hs = data["host_status"];
    wasReady = (window.backendReady == true);
    window.backendReady = hs["ready"];
    if (!hs["ready"]) {
      $("#maintxt").text('{% trans "Everything is ready" %}');
      $("#lead").show();
      $("#hostinfo").text(hs["platform"]);
      $("#network").html("");
      for (iface in hs["interfaces"]) {
        var _iface = hs["interfaces"][iface];
        var t = "" + iface + ": ";
        t += _iface["ip"] + " - ";
        t += _iface["netmask"] + " - ";
        t += _iface["broadcast"];
        $("#network").append(t+"<br>");
      }
    }
    else {
      if (!wasReady) {
        $("#maintxt").html("{% trans "I'm watching" %}");
        $("#lead").hide();
      }
    }
  }
  if ("text" in data) {
    $("#maintxt").text(data["text"]);
  }
  if ("recording" in data) {
    if (data["recording"]) $("#maintxt").text("{% trans "I'm listening" %}");
  }
  if ("calibrating" in data) {
    if (data["calibrating"]) $("#maintxt").text("{% trans "Stay quiet just a second... i'm adjusting the microphones to hear you better" %}");
  }
  if ("transcribing" in data) {
    if (data["transcribing"]) $("#maintxt").text("{% trans "Alright, let me think..." %}");
  }
  if ("micready" in data) {
    if (data["micready"]) $("#maintxt").text("{% trans 'Looking for someone to talk with...' %}");
  }
  if ("images" in data) {
    for (i in images) {
      $("#maintext").html('<img src="{% static 'images/' %}"'+images[i]+' style="max-height:100%;max-width:100%;">');
    }
  }
}

// create the websocket between frontend and backend
function handshake() {
   window.mySocket = new WebSocket("ws://" + window.location.hostname + ":9000");
   window.mySocket.onmessage = eventsParser;
   waitForSocketConnection();
}

// this function is intended to periodically query the backend to update the ui
// after checking whether the connection is still alive
function cron() {
  if (!window.runCron) console.log("runCron=false; rescheduling and exiting.");
  else {
    if (window.mySocket.readyState == 3) {
      $("#maintxt").html("{% trans 'Backend connection lost' %}");
      $("#lead").show();
      console.log("Detected websocket down, trying to restore");
      window.runCron = false;
      handshake();
    }
    else {
      console.log("WS ok");
      if (!window.backendReady) window.mySocket.send('{"host_status": "?"}');
      else window.mySocket.send('{"isready": "?"}');
    }
  }
  if (!window.backendReady) setTimeout(cron, 3000);
  else setTimeout(cron, 3000);
}

// start the whole cicle when the document is ready
$(document).ready(function() {
  window.runCron = false;
  window.backendReady = false;
  setTimeout(cron, 3000);
  handshake();
});

</script>


{% endblock %}
