{% extends "base.html" %}{% load i18n %}
{% block title %}{% trans "Create action" %}{% endblock %}
{% block content %}
<h2>{% trans "Create a new action" %}</h2>
<br>
<form action="" method="POST">

{% csrf_token %}
<table class="table">
{{form.as_table}}
</table>
<p class="align-right">
  <button type="submit" class="btn btn-lg btn-success">
    <i class="fas fa-save" aria-hidden="true"></i> {% trans "Save" %}
  </button>
</p>

</form>

{% endblock %}
