{% extends "base.html" %}{% load i18n %}
{% block title %}{% trans "Actions" %}{% endblock %}
{% block content %}
<div class="row">
  <div class="col-lg-6">
    <h2>{% trans "Actions" %}</h2>
  </div>
  <div class="col-lg-6 align-right">
    <a href="{% url 'hsr:action-create' %}" class="btn btn-lg btn-success">
      <i class="fas fa-plus-circle" aria-hidden="true"></i> {% trans "Add" %}
    </a>
  </div>
</div>
<br>
<table class="table table-striped" id="actions-tab">
  <thead>
    <tr>
      <th>{% trans "Name" %}</th>
      <th>{% trans "Emotion" %}</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for e in object_list %}
    <tr>
      <td>{{e.name}}</td>
      <td>{{e.emotion_name}}</td>
      <td class="align-right">
        <a href="{% url 'hsr:action-detail' pk=e.pk %}" class="btn btn-lg btn-primary">
          <i class="fas fa-arrow-right"></i>
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<script type="text/javascript">
$(document).ready(function() {
  $("#actions-tab").DataTable();
});
</script>

{% endblock %}
