{% extends "base.html" %}{% load i18n %}
{% block title %}{{object.name}}{% endblock %}
{% block content %}
<h2>{% trans "Action" %}: {{object.name}}</h2>
<br>
<div class="row">
  <div class="col-lg-6">
    {% trans "Emotion" %}: {{object.emotion_name}}
  </div>
  <div class="col-lg-6 align-right">
    <a href="{% url 'hsr:action-edit' pk=object.pk %}" class="btn btn-lg btn-warning white">
      <i class="fas fa-pencil-alt"></i>
    </a>
    <a href="{% url 'hsr:action-delete' pk=object.pk %}" class="btn btn-lg btn-danger white">
      <i class="fas fa-trash"></i>
    </a>
  </div>
</div>
<br>
<div class="row pb-1">
  <div class="col-lg-6">
    <h3>{% trans "Keyphrases" %}</h3>
  </div>
  <div class="col-lg-6 align-right">
    <a href="{% url 'hsr:keyphrase-create' pk=object.pk %}" class="btn btn-lg btn-success">
      <i class="fas fa-plus-circle" aria-hidden="true"></i> {% trans "Add" %}
    </a>
  </div>
</div>
<table class="table table-striped" id="keyphrases-tab">
  <thead>
    <tr>
      <th>{% trans "Language" %}</th>
      <th>{% trans "Phrase" %}</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for e in keyphrases %}
    <tr>
      <td>{{e.language.name}} ({{e.language.api_code}})</td>
      <td>{{e.phrase}}</td>
      <td class="align-right">
        <a href="{% url 'hsr:keyphrase-edit' pk=e.pk %}" class="btn btn-lg btn-warning white">
          <i class="fas fa-pencil-alt"></i>
        </a>
        <a href="{% url 'hsr:keyphrase-delete' pk=e.pk %}" class="btn btn-lg btn-danger white">
          <i class="fas fa-trash"></i>
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<br>


<div class="row pb-1">
  <div class="col-lg-6">
    <h3>{% trans "Answers" %}</h3>
  </div>
  <div class="col-lg-6 align-right">
    <a href="{% url 'hsr:answer-create' pk=object.pk %}" class="btn btn-lg btn-success">
      <i class="fas fa-plus-circle" aria-hidden="true"></i> {% trans "Add" %}
    </a>
  </div>
</div>
<table class="table table-striped" id="answers-tab">
  <thead>
    <tr>
      <th>{% trans "Language" %}</th>
      <th>{% trans "Answer" %}</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for e in answers %}
    <tr>
      <td>{{e.language.name}} ({{e.language.api_code}})</td>
      <td>{{e.answer}}</td>
      <td class="align-right">
        <a href="{% url 'hsr:answer-edit' pk=e.pk %}" class="btn btn-lg btn-warning white">
          <i class="fas fa-pencil-alt"></i>
        </a>
        <a href="{% url 'hsr:answer-delete' pk=e.pk %}" class="btn btn-lg btn-danger white">
          <i class="fas fa-trash"></i>
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<script type="text/javascript">
$(document).ready(function() {
  $("#answers-tab").DataTable();
  $("#keyphrases-tab").DataTable();
});
</script>

{% endblock %}
