{% extends "base.html" %}{% load i18n %}
{% block title %}{% trans "Keyphrases" %}{% endblock %}
{% block content %}
<div class="row">
  <div class="col-lg-6">
    <h2>{% trans "Keyphrases" %}</h2>
  </div>
</div>
<br>
<table class="table table-striped" id="actions-tab">
  <thead>
    <tr>
      <th>{% trans "Phrase" %}</th>
      <th>{% trans "Action" %}</th>
      <th>{% trans "Language" %}</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for e in object_list %}
    <tr>
      <td>{{e.phrase}}</td>
      <td>{{e.action}}</td>
      <td>{{e.language}}</td>
      <td class="align-right">
        <a href="{% url 'hsr:action-detail' pk=e.action.pk %}" class="btn btn-lg btn-primary">
          <i class="fas fa-arrow-right"></i>
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<script type="text/javascript">
$(document).ready(function() {
  $("#actions-tab").DataTable();
});
</script>

{% endblock %}
