{% extends "base.html" %}{% load i18n %}
{% block title %}{% trans "Delete" %} {{object.phrase}}{% endblock %}
{% block content %}
<h2>{% trans "Really delete keyphrase" %} {{object.phrase}} ?</h2>
<br>
<form action="" method="POST">
{% csrf_token %}
<p class="align-right">
  <button type="submit" class="btn btn-lg btn-danger">
    <i class="fas fa-trash" aria-hidden="true"></i> {% trans "Delete" %}
  </button>
  <a href="{% url 'hsr:action-detail' pk=object.action.pk %}" class="btn btn-lg btn-success">
    <i class="fas fa-times" aria-hidden="true"></i> {% trans "Undo" %}
  </a>
</p>

</form>

{% endblock %}
