{% extends "base.html" %}{% load i18n %}
{% block title %}{{object.phrase}}{% endblock %}
{% block content %}
<h2>{% trans "Edit keyphrase" %}: {{object.phrase}}</h2>
<br>
<form action="" method="POST">

{% csrf_token %}
<table class="table">
{{form.as_table}}
</table>
<p class="align-right">
  <button type="submit" class="btn btn-lg btn-success">
    <i class="fas fa-save" aria-hidden="true"></i> {% trans "Save" %}
  </button>
  <a href="{% url 'hsr:action-detail' pk=object.action.pk %}" class="btn btn-lg btn-danger">
    <i class="fas fa-times" aria-hidden="true"></i> {% trans "Undo" %}
  </a>
</p>

</form>

{% endblock %}
