{% load i18n static %}
<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block bootstrap %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    {% endblock bootstrap %}
    <link rel="stylesheet" href="{% static 'css/all.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery.dataTables.min.css' %}">

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>

    <title>{% block title %}Base template{% endblock %} - HAIDI</title>
    {% block extrahead %}
    {% endblock extrahead %}
  </head>
  <body>
    <style type="text/css">
      .badge-primary {
        font-size:23px;
      }

      .badge-danger {
        font-size:30px;
      }

      .green {color: green;}
      .red {color: red;}
      .white {color: white;}

      .progress {background-color: white;}

      .align-right {text-align: right;}
    </style>
    {% block standardcontent %}
    {% if user.is_authenticated %}
    {% include "navbar.html" %}
    {% endif %}
    <div class="container">
      <div class="jumbotron pt-3">
        {% for message in messages %}
        <div class="alert alert-{{message.tags}}">
          {{message}}
        </div>
        {% endfor %}
        {% block content %}
        HELO
        {% endblock content %}
      </div>
    </div>
    {% endblock standardcontent %}
  </body>
</html>
