{% extends "base.html" %}{% load i18n %}

{% block title %}{% trans "Provide your credentials" %}{% endblock %}

{% block content %}
<h1>{% trans "Provide your credentials" %}</h1>
<br>
<form action="" method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" class="btn btn-lg btn-warning" style="color:white;" value="{% trans 'Log-in' %}">
</form>
{% endblock %}
