{% load i18n %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">HAIDI</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'debug' %}">
          <i class="fas fa-cog" aria-hidden="true"></i>&nbsp;
          {% trans "Control panel" %}
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'hsr:actions-list' %}">
          <i class="fas fa-briefcase" aria-hidden="true"></i>&nbsp;
          {% trans "Actions" %}
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'hsr:keyphrases-list' %}">
          <i class="fas fa-key" aria-hidden="true"></i>&nbsp;
          {% trans "Keyphrases" %}
        </a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a href="#" class="nav-link">{{ user.get_full_name }} ({{user.username}})</a>
      </li>
      {% if user.is_staff %}
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'admin:index' %}">
          <i class="fas fa-hammer" aria-hidden="true"></i>&nbsp;
          {% trans "Administration" %}
        </a>
      </li>
      {% endif %}
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'logout' %}">
          <i class="fas fa-sign-out-alt" aria-hidden="true"></i>&nbsp;
          {% trans "Logout" %}
        </a>
      </li>
    </ul>
  </div>
</nav>
